<!DOCTYPE html>
{% image '@AppBundle/Resources/public/images/bg.gif'  output='/images/bg.gif' %}
<html style="background-image:url({{ asset_url }});" lang="en">
{% endimage %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JOB Portal{% endblock %}</title>
    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
{% block body %}
{% image '@AppBundle/Resources/public/images/meta_bg.gif'  output='/images/meta_bg.gif' %}
<div class="meta" style="background-image:url({{ asset_url }});">
    {% endimage %}
    <div class="metalinks">
        {% image '@AppBundle/Resources/public/images/meta1.gif'  output='/images/meta1.gif' %}
        <a href="#"><img src="{{ asset_url }}" alt="" width="15" height="14" /></a>
        {% endimage %}
        {% image '@AppBundle/Resources/public/images/meta2.gif'  output='/images/meta2.gif' %}
        <a href="#"><img src="{{ asset_url }}" alt="" width="17" height="14" /></a>
        {% endimage %}
        {% image '@AppBundle/Resources/public/images/meta3.gif'  output='/images/meta3.gif' %}
        <a href="#"><img src="{{ asset_url }}" alt="" width="17" height="14" /></a>
        {% endimage %}
        {% image '@AppBundle/Resources/public/images/meta4.gif'  output='/images/meta4.gif' %}
        <a href="#"><img src="{{ asset_url }}" alt="" width="15" height="14" /></a>
        {% endimage %}
    </div>
</div>
<div id="header">
    {% image '@AppBundle/Resources/public/images/logo.jpg'  output='/images/logo1.jpg' %}
    <a href="{{ url('index') }}" class="logo"><img src="{{ asset_url }}" alt="setalpm" width="149" height="28" /></a>
    {% endimage %}
    <span class="slogan">Your Key to Success</span>
    {% image '@AppBundle/Resources/public/images/line.gif'  output='/images/line.gif' %}
    <ul id="menu">
        <li style="background-image:url({{ asset_url }});"><a href="#">Регистрация</a></li>
        <li style="background-image:url({{ asset_url }});"><a href="#">Авторизация</a></li>
        <li style="background-image:url({{ asset_url }});"><a href="{{ url('contacts') }}">Контакты</a></li>
    </ul>
    {% endimage %}
    <div class="localization">
        {% image '@AppBundle/Resources/public/images/changel.jpg'  output='/images/changel.jpg' %}
        <a href="#"><img src="{{ asset_url }}" alt="" width="40" height="40"/></a>
        {% endimage %}
    </div>
    <div class="option">
        <h1>Как правильно составить резюме?</h1>
        Почему одни рассылают резюме в десятки компаний и не получают ответа, а другие посылают резюме в три компании и получают три приглашения на собеседование? Можно гадать или ссылаться на удачу, но ясно лишь одно: хорошая подготовка дает хорошие результаты. По этой причине лучше семь раз подумать и один раз написать отличное резюме. Оно даст нужную вам работу, умного руководителя, карьерные возможности и все то, о чем вы мечтаете.
        <h2>Четыре грани правильного составления резюме</h2>
        <h3>Грамотность</h3>
        Отсутствие ошибок, опечаток, молодежного сленга — необходимый и, возможно, важнейший аспект составления резюме. Важнейший потому что если в документе будет куча ошибок, его могут просто выбросить, не обратив внимания на все остальное.
        <h3>Соответствие вакансии</h3>
        Вы откликаетесь на опубликованную вакансию или просто пишете менеджеру по персоналу — не важно. В обоих случаях нужно представлять, чем вы хотите заниматься в компании и в соответствие с этим писать резюме. Указывая лишние вещи, вы путаете работодателя и рождаете у него ненужные вопросы.
        <h3>Разумный объем резюме</h3>
        Полстраницы — мало, три страницы — много, 1-2 страницы — оптимально. Конечно, желательно уложиться на одну страницу, но не всегда это возможно сделать безболезненно. Иной раз, чтобы правильно составить резюме, лучше объемнее описать свой опыт и достижения и сделать резюме на две страницы, чем экономить на словах и пытаться описать свой профессионализм парой незначительных фраз.
        <h3>Понятная и простая структура</h3>
        Понятная и простая структура
        Вероятно, это самое важное, что нужно создать. Правильное составление резюме на работу предполагает правильное структурирование информации о себе и своем профессиональном опыте. Единой формы оформления информации о себе не существует, но зато существуют популярные. Приемлемый путь — использовать именно их, а не изобретать что-то новое.
        <br/>
        {% image '@AppBundle/Resources/public/images/excellent.jpg'  output='/images/excellent.jpg' %}
        <br/><img src="{{ asset_url }}"alt="" width="320" height="127"/>
        {% endimage %}
    </div>
</div>
    {% image '@AppBundle/Resources/public/images/footer_bg.gif'  output='/images/footer_bg.gif' %}
    <div id="footer" style="background-image:url({{ asset_url }});">
        {% endimage %}
        Copyright &copy;. All rights reserved. Design by <a href="https://vk.com/active_11">Neymar</a> and <a
                href="https://vk.com/id135256716"> Niko</a>
    </div>
{% endblock %}
</body>
</html>